@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
   font-family: 'inter';
   font-size: 18px;
   background-color: #141414; 
}

.container {
    width: 100%;
    max-width: 1224px;
    margin: auto;
    padding: 0px 24px;
}

.logo a {
    font-family: 'Calistoga';
    font-size: 40px;
    color: #fff;
    text-decoration: none;
}

.logo a span {
    color: #fe6a0f;
}

/* HEADER */

header .container {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    gap: 56px;
}

header nav {
    flex: 1;
    display: flex;
    align-items: center;   
}

header nav .left {
    display: flex;
    flex: 1;
}

header nav li {
    margin: 0px 32px;
}

header nav li a {
    color: #fff;
    text-decoration: none;
}
header nav li a:hover {
    color: #999;
}

header nav .button {
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 12px 24px;
}
header nav .button:hover {
    color: #999;
    border-color: #999;
}

header .menu {
    display: none;
    flex: 1;
    justify-content: flex-end;
}

header .menu .menu-icon {
    width: 32px;
    height: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

header .menu .menu-icon div {
    height: 6px;
    background-color: #fff;
}

@media (max-width: 824px) {

    header nav {
        display: none;
    }

    header .menu {
        display: flex;
    }
}

