@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
   font-family: 'inter';
   font-size: 18px;
   background-color: #141414;
   color: #fff; 
}

.container {
    width: 100%;
    max-width: 1224px;
    margin: auto;
    padding: 0px 24px;
}

.logo a {
    font-family: 'Calistoga';
    font-size: 40px;
    color: #fff;
    text-decoration: none;
}

.logo a span {
    color: #fe6a0f;
}

/* HEADER */

header .container {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    gap: 56px;
}

header nav {
    flex: 1;
    display: flex;
    align-items: center;   
}

header nav .left {
    display: flex;
    flex: 1;
}

header nav li {
    margin: 0px 32px;
}

header nav li a {
    color: #fff;
    text-decoration: none;
}
header nav li a:hover {
    color: #999;
}

header nav .button {
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 12px 24px;
}
header nav .button:hover {
    color: #999;
    border-color: #999;
}

header .menu {
    display: none;
    flex: 1;
    justify-content: flex-end;
}

header .menu .menu-icon {
    width: 32px;
    height: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

header .menu .menu-icon div {
    height: 6px;
    background-color: #fff;
}


/* HERO */

.hero .container {
    display: flex;
}

.hero .left,
.hero .right {
    flex: 1;
}

.hero .left {
    padding-bottom: 150px;
}

.hero .right {
    text-align: center;
}

.hero .right img {
    width: auto;
    height: 560px;
}

.hero h1 {
    font-family: 'Calistoga';
    font-size: 72px;
    line-height: 80px;
    margin-top: 54px;
}

.hero p {
    font-size: 24px;
    line-height: 28px;
    margin: 40px 0px;
}

.hero .button {
    display: inline-block;
    background-color: #fe6a0f;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    padding: 16px 56px;
    border-radius: 8px;
}
.hero .button:hover {
    opacity: 0.8;
}


/* SEARCH */

.search {
    background-color: #1f1f1f;
    padding: 80px 0px;
    margin-top: -100px;
}

.search .title {
    font-size: 32px;
    font-weight: 500;
}

.search .forms {
    display: flex;
    margin-top: 32px;
    gap: 104px;
}

.search .left-form,
.search .right-form {
    flex: 1;
}

.search input,
.search select {
    width: 100%;
    color: #fff;
    font-size: 20px;
    outline: none;
    background-color: #2b2b2b;
    border: none;
    border-radius: 8px;
    padding: 24px;
}

.search input {
    background-image: url('../images/searchIcon.png');
    background-repeat: no-repeat;
    background-position: 20px center;
    padding-left: 64px;
}

.search select {
    border-right: 24px solid transparent;
}

/* PRODUCTS */

.products-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin: 48px 0px;
}

.product {
    display: block;
    border-radius: 8px;
    overflow: hidden;
    text-decoration: none;
    position: relative;
}
.product:hover {
    opacity: 0.8;
}

.product .warning {
    position: absolute;
    top: 24px;
    left: 24px;
    padding: 12px 16px;
    background-color: #fe6a0f;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    border-radius: 4px;
}

.product .image {
    text-align: center;
    background-color: #2b2b2b;
    padding-top: 32px;
}

.product .image img {
    max-width: 100%;
}

.product .info {
    background-color: #1f1f1f;
    padding: 64px 32px 32px 32px;
    margin-top: -56px;
}

.product .product-category {
    font-size: 18px;
    font-weight: 500;
    color: #fff; 
}

.product .product-name {
    font-family: 'Calistoga';
    font-size: 32px;
    color: #fff;
    margin: 12px 0px;
}

.product .product-price {
    font-size: 32px;
    font-weight: bold;
    color: #fe6a0f;
}

/* FOOTER */

footer {
    background-color: #1f1f1f;
}

footer .container {
    padding-top: 72px;
    padding-bottom: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .copyrights {
    font-size: 20px;
    color: #5f5f5f;
}

footer .copyrights a {
    color: #5f5f5f;
    text-decoration: none;
}
footer .copyrights a:hover {
    text-decoration: underline;
}

@media (max-width: 824px) {

    header nav {
        display: none;
    }

    header .menu {
        display: flex;
    }

    .hero .container {
        flex-direction: column;
    }

    .hero .left {
        text-align: center;
        padding-bottom: 40px;
    }

    .hero h1 {
        font-size: 44px;
        line-height: 50px;
    }

    .hero .right {
        padding-bottom: 48px;
    }

    .hero .right img {
        height: 300px;
    }

    .search {
        padding-bottom: 32px;
    }

    .search .title {
        text-align: center;
    }

    .search .forms {
        flex-direction: column;
        gap: 24px;
    }

    .products-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    footer .container {
        flex-direction: column;
        gap: 32px;
    }
}

@media (max-width: 700px) {
    .products-grid {
        grid-template-columns: 1fr;
    }
}

